/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .icons {
    align-items: end;
    display: flex;
    flex-direction: column;
    width: 440px;
  }
  .search-icons {
    width: 60px;
    height: 60px;

    /* position: absolute;
    right: 45px;
    top: 0;
    bottom: 0; */
    background-color: #ff4a52;
  }
  .logo {
    line-height: 120px;
  }
  .search-icons :hover {
    background-color: #f16a71;
  }
  .search-icons a {
    color: #ffffff;
  }
  .drop-down-icon {
    width: 60px;
    height: 60px;
    /* position: absolute;
    right: 0;
    top: 0;
    bottom: 0; */
    background-color: #1ec6b6;
    /* z-index: 100; */
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .logo {
    margin-top: 20px;
  }
  .icons {
    align-items: end;
    justify-content: center;
    width: 0;
  }
  .search-icons{
    border-radius: 8px;
  }
  .search-icons i {
    font-size: 20px;
  }
  .nav-logo {
    flex-direction: row;
  }

  nav ul {
    display: inline-block !important;
    padding: 0 120px;
  }
  nav li {
    display: inline-block !important;
    padding-right: 35px;
    font-size: 18px;
    font-weight: 350;
  }
  .drop-down-icon {
    display: none !important;
  }

  footer {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  nav ul {
    padding: 0 110px;
    margin: 0px 75px;
  }
  nav li {
    font-size: 20px;
    font-weight: 400;
    padding-right: 50px;
  }
  .search-icons {
    width: 80px;
  }
  .search-bar {
    flex-direction: row;
    justify-content: center;
  }
  .search-form {
    flex-direction: row;
    justify-content: center;
  }
  .newsletter-container {
    flex-direction: row;
  }
  .newsletter-input {
    flex-direction: row;
  }
  .newsletter-btn {
    width: 117px;
    height: 52px;
    padding: 18px 12px;
    margin-left: 5px;
  }
  .newsletter-text {
    margin-top: 0;
    margin-right: 10px;
  }
}
